<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>NeuroScan AI</title>
		
		<!-- Favicon -->
        <link rel="icon" href="./static/img/favicon2.png">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='./css/bootstrap.min.css')  }}">
		<!-- Nice Select CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='./css/nice-select.css')  }}">
		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/font-awesome.min.css')  }}">
		<!-- icofont CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/icofont.css')  }}">
		<!-- Slicknav -->
		<link rel="stylesheet" href="{{ url_for('static', filename='./css/slicknav.min.css')  }}">
		<!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/owl-carousel.css')  }}">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='./css/datepicker.css')  }}">
		<!-- Animate CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/animate.min.css')  }}">
		<!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/magnific-popup.css')  }}">
		
		<!-- Medipro CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/normalize.css')  }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css')  }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/responsive.css')  }}">

		<!-- Include Dropzone CSS and JS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"></script>

		
    </head>
    <body>
	
		<!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator"> 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
		
		<!-- Header Area -->
		<header class="header" >
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row align-items-center justify-content-between">
							<div class="col-lg-3 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo" style="padding: 1px;">
									<a href="#"><img src="./static/img/logo5.png" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-7 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											<li><a href="#">Home</a></li>
											<li><a href="#learn-more">Tumor Types</a></li>
											<li><a href="#services-section">Services</a></li>
											<li><a href="#contact-us">Contact Us</a></li>
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
							<div class="col-lg-2 col-12">
								<div class="get-quote">
									<a href="#test-section" class="btn">Test Now</a>
								</div>
							</div>
						</div>
						
						
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->
		
		<!-- Slider Area -->
		<section class="slider">
			<div class="hero-slider">
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('./static/img/2.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Welcome to <span>NeuroScan AI</span> Transforming Brain Tumor Detection with <span>AI</span></h1>
									<p>Harness cutting-edge deep learning to detect and classify brain tumors with precision and speed. </p>
									<div class="button">
										<a href="#test-section" class="btn">Test Now</a>
										<a href="#learn-more" class="btn primary" id="learn-more">Learn More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('./static/img/5.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Welcome to <span>NeuroScan AI</span> Revolutionizing <span>Brain Tumor Detection</span></h1>
									<p>Leverage AI to detect and classify glioma, meningioma, and pituitary tumors with precision and confidence.</p>
									<div class="button">
										<a href="#test-section" class="btn">Test Now</a>
										<a href="#learn-more" class="btn primary" id="learn-more">Learn More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>				
				<!-- Start End Slider -->
				<!-- Start Single Slider -->
				<!-- <div class="single-slider" style="background-image:url('./static/img/slider3.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Welcome to <span>NeuroScan AI</span> Revolutionizing Brain Tumor Detection with <span>Deep Learning</span></h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p>
									<div class="button">
										<a href="#" class="btn">Get Appointment</a>
										<a href="#" class="btn primary">Conatct Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->
				<!-- End Single Slider -->
			</div>
		</section>
		<!--/ End Slider Area -->
		
		<!-- Start Schedule Area -->
		<section class="schedule">
			<div class="container">
				<div class="schedule-inner">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12 ">
							<!-- single-schedule -->
							<div class="single-schedule first">
								<div class="inner">
									<div class="icon">
										<i class="fas fa-brain"></i>
									</div>
									<div class="single-content">
										<span>Glioma Tumors</span>
										<h4>About <b>Glioma</b></h4>
										<p>A glioma is a type of tumor that forms when glial cells grow uncontrollably. Gliomas can develop in the brain or spinal cord, though they are most commonly found in the brain. These tumors are usually malignant, though their growth rate can vary from slow to aggressive.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- single-schedule -->
							<div class="single-schedule middle">
								<div class="inner">
									<div class="icon">
										<i class="fas fa-dna"></i>
									</div>
									<div class="single-content">
										<span>Meningioma Tumors</span>
										<h4>About <b>Meningioma</b></h4>
										<p>A meningioma is a tumor that grows from the meninges, the membranes surrounding the brain and spinal cord. While not a brain tumor, it may press on the brain or nerves. Meningiomas grow slowly, but in some cases, they can cause serious disability by affecting nearby tissues.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 col-12">
							<!-- single-schedule -->
							<div class="single-schedule last">
								<div class="inner">
									<div class="icon">
										<i class="fas fa-book-medical"></i>
									</div>
									<div class="single-content">
										<span>Pituitary Tumors</span>
										<h4>About <b>Pituitary Tumors</b></h4>
										<p>Pituitary tumors are unusual growths in the pituitary gland, a pea-sized organ behind the nose. These tumors may cause the gland to produce too much or too little of certain hormones, leading to various health issues. While mostly benign, their location in sensitive areas can cause serious health concerns.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
				
		
		
		<!--/End Start schedule Area -->

		<!-- Start Feautes -->
		<section class="Feautes section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title" id="services-section">
							<h2>Advanced AI-Powered Brain Tumor Detection & Classification</h2>
							<div class="icon-separator">
								<i class="fas fa-ellipsis-h"></i>
							</div>
							<p>Discover how our cutting-edge technology can assist in fast and accurate brain tumor detection, helping patients and healthcare professionals make informed decisions.</p>
						</div>
					</div>
				</div>
				<div class="row" >
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont icofont-brain"></i>
							</div>
							<h3>Accurate Tumor Detection</h3>
							<p>Our deep learning model precisely identifies and locates glioma, meningioma, and pituitary tumors with a high level of accuracy.</p>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont icofont-medical-sign-alt"></i>
							</div>
							<h3>Detailed Classification</h3>
							<p>We classify tumors into specific types, including glioma, meningioma, and pituitary, providing valuable insights for treatment planning.</p>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features last">
							<div class="signle-icon">
								<i class="icofont icofont-chart-bar-graph"></i>
							</div>
							<h3>Confidence Scoring</h3>
							<p>Each diagnosis comes with a confidence score, ensuring reliable insights and empowering healthcare professionals with data-driven decisions.</p>
						</div>
						<!-- End Single features -->
					</div>
				</div>
			</div>
		</section>
		
		<!--/ End Feautes -->

		<!-- Start Fun-facts -->
		<div id="fun-facts" class="fun-facts section overlay">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Overall Model Performance</h2>
							<p>Key metrics that showcase the accuracy, precision, and reliability of our AI-powered brain tumor detection system.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="fas fa-percentage"></i>
							<div class="content">
								<span class="counter">98.5</span><span>%</span>
								<p>Model Accuracy</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="fas fa-chart-line"></i>
							<div class="content">
								<span class="counter">91.97</span><span>%</span>
								<p>Model Mean Average Precision</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="fas fa-check-circle"></i>
							<div class="content">
								<span class="counter">95</span><span>%</span>
								<p>Model Recall</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="fas fa-shield-alt"></i>
							<div class="content">
								<span class="counter">97</span><span>%</span>
								<p>Model Specificity</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
				</div>
			</div>
		</div>
		<!--/ End Fun-facts -->

		
		
		<!-- Start Why choose -->
		<section class="why-choose section" id="test-section" style="background-image:url('./static/img/8.jpg')">
			<div class="container" style="background-color: white; border-radius: 15px; padding: 20px;">		
				<div class="row">
					<div class="col-lg-6 col-12">
						<!-- Start Choose Left -->
						<div class="choose-left">
							<h3>Upload an MRI Image for Tumor Detection</h3>
						
							<form action="/" method="POST" enctype="multipart/form-data">
								<div class="upload-container">
									<div class="border-container" id="drop-area" >
										<div class="icons fa-4x">
											<i class="fas fa-file-image"></i>
										</div>
										<p>Drag and drop your MRI scan here, or <a id="file-browser">browse</a> your computer to upload the file.</p>
										<p>Please upload images in PNG, JPG, or JPEG format.</p>
										<input type="file" id="file-upload" name="imagefile" accept="image/*">
										<p id="file-name"></p>
									</div>
									<button class="btn" type="submit">Start MRI Analysis</button>
								</div>
							</form>
						</div>
						
						
						<!-- End Choose Left -->
					</div>
					<div class="col-lg-6 col-12">
						<!-- Start Choose Rights -->
						<div class="choose-right">
							<!-- <div class="dropzone-container">
								<form action="/upload" class="dropzone" id="file-upload">
									<div class="dz-message">
										<i class="fas fa-cloud-upload-alt"></i>
										<h3>Drag and Drop your MRI Scans here</h3>
										<p>or click to browse</p>
									</div>
								</form>
							</div> -->
							<div id="imagePreview" class="mt-4">
								{% if prediction %}
								  <img src="{{ url_for('static', filename=output_image_path) }}" alt="Processed MRI Image" class="img-fluid custom-image" />
								{% endif %}
							</div>
							
							<div id="predictionResult" class="mt-4 text-center">
								{% if prediction %}
								  <p class="prediction-text">Brain Tumor Type: <strong>{{ prediction }}</strong></p>
								  <p class="prediction-text">Confidence Level: <strong>{{ confidence }}%</strong></p>
								{% endif %}
							</div>
							
							

						<!-- End Choose Rights -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Why choose -->
		
		<!-- Start Contact Us -->
		<section class="contact-us section" id="contact-us">
			<div class="container">
				<div class="inner">
					<div class="row"> 
						<div class="col-lg-6">
							<div class="contact-us-left" style="margin-left: 40px;">
								<!--Start Google-map -->
								<div id="myMap" ><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.8262539446696!2d-5.546257225647016!3d33.86836832741942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda04543d863b571%3A0x596632d1a0a0358d!2sFacult%C3%A9%20des%20sciences%20Meknes%D8%8C%20BP%2011201%20Zitoune%2C%20Mekn%C3%A8s%20-%20MAROC%2C%20Mekn%C3%A8s%2050000!5e0!3m2!1sfr!2sma!4v1725561901786!5m2!1sfr!2sma" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
								<!--/End Google-map -->
							</div>
						</div>
						<div class="col-lg-6">
							<div class="contact-us-form">
								<h2>Get in Touch</h2>
								<p>If you have any questions, feel free to reach out to us.</p>
								<!-- Form -->
								<form class="form" method="post" action="mail/mail.php">
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group">
												<input type="text" name="name" placeholder="Name" required="">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<input type="email" name="email" placeholder="Email" required="">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<input type="text" name="phone" placeholder="Phone" required="">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<input type="text" name="subject" placeholder="Subject" required="">
											</div>
										</div>
										<div class="col-lg-12">
											<div class="form-group">
												<textarea name="message" placeholder="Your Message" required=""></textarea>
											</div>
										</div>
										<div class="col-12">
											<div class="form-group login-btn">
												<button class="btn" type="submit">Send</button>
											</div>
										</div>
									</div>
								</form>
								<!--/ End Form -->
							</div>
						</div>
					</div>
				</div>
				<div class="contact-info">
					<div class="row">
						<!-- single-info -->
						<div class="col-lg-4 col-12 ">
							<div class="single-info">
								<i class="icofont icofont-ui-call"></i>
								<div class="content">
									<h3>+(212) 5 35 53 73 21</h3>
									<p>info@miaad.com</p>
								</div>
							</div>
						</div>
						<!--/End single-info -->
						<!-- single-info -->
						<div class="col-lg-4 col-12 ">
							<div class="single-info">
								<i class="icofont-google-map"></i>
								<div class="content">
									<h3>Faculté des Sciences</h3>
									<p>B.P. 11201 Zitoune Meknès, Maroc.</p>
								</div>
							</div>
						</div>
						<!--/End single-info -->
						<!-- single-info -->
						<div class="col-lg-4 col-12 ">
							<div class="single-info">
								<i class="icofont icofont-wall-clock"></i>
								<div class="content">
									<h3>Mon - Sat: 8am - 5pm</h3>
									<p>Closed on Sundays</p>
								</div>
							</div>
						</div>
						<!--/End single-info -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Contact Us -->		
		
		<!-- Footer Area -->
		<footer id="footer" class="footer">
			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<!-- About NeuroScan AI Section -->
						<div class="col-lg-4 col-md-6 col-12">
							<div class="single-footer">
								<h2>About NeuroScan AI</h2>
								<p>At NeuroScan AI, we are dedicated to providing advanced, AI-powered brain tumor detection solutions. Our mission is to help healthcare professionals with accurate and timely diagnostics.</p>
								<!-- Social -->
								<ul class="social">
									<li><a href="#"><i class="icofont-facebook"></i></a></li>
									<li><a href="#"><i class="icofont-instagram"></i></a></li>
									<li><a href="#"><i class="icofont-twitter"></i></a></li>
									<li><a href="#"><i class="icofont-linkedin"></i></a></li>
								</ul>
								<!-- End Social -->
							</div>
						</div>

						<!-- Quick Links Section -->
						<div class="col-lg-4 col-md-6 col-12">
							<div class="single-footer f-link">
								<h2>Quick Links</h2>
								<ul>
									<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a></li>
									<li><a href="#learn-more"><i class="fa fa-caret-right" aria-hidden="true"></i>Tumor Types</a></li>
									<li><a href="#services-section"><i class="fa fa-caret-right" aria-hidden="true"></i>Services</a></li>
									<li><a href="#contact-us"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact Us</a></li>
									<li><a href="#footer"><i class="fa fa-caret-right" aria-hidden="true"></i>Newsletter</a></li>
								</ul>
							</div>
						</div>

						<!-- Stay Updated Section -->
						<div class="col-lg-4 col-md-6 col-12">
							<div class="single-footer">
								<h2>Stay Updated</h2>
								<p>Subscribe to our newsletter to stay updated on the latest advancements in AI-based medical imaging and brain tumor diagnostics.</p>
								<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
									<input name="email" placeholder="Email Address" class="common-input" onfocus="this.placeholder = ''"
										onblur="this.placeholder = 'Your email address'" required="" type="email">
									<button class="button"><i class="icofont icofont-paper-plane"></i></button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Footer Top -->

			<!-- Copyright -->
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<div class="copyright-content">
								<p>© 2024 NeuroScan AI | All Rights Reserved | Developed by Oumaïma Benaboud</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Copyright -->
		</footer>
		<!--/ End Footer Area -->

		
		<script>// Only trigger the file input when "browse" is clicked
		document.getElementById('file-browser').addEventListener('click', function (event) {
			event.preventDefault(); // Prevent the default anchor behavior
			document.getElementById('file-upload').click(); // Trigger file input click
		});

		// Display selected file name (for file input browsing)
		document.getElementById('file-upload').addEventListener('change', function () {
			const file = this.files[0];
			if (file) {
				document.getElementById('file-name').textContent = file.name; // Display the file name
			}
		});

		// Drag and Drop functionality for the drop area
		const dropArea = document.getElementById('drop-area');

		// Prevent default behavior (Prevent file from being opened)
		['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
			dropArea.addEventListener(eventName, preventDefaults, false);
		});

		function preventDefaults(e) {
			e.preventDefault();
			e.stopPropagation();
		}

		// Highlight the drop area when file is dragged over
		['dragenter', 'dragover'].forEach(eventName => {
			dropArea.addEventListener(eventName, () => {
				dropArea.classList.add('highlight');
			}, false);
		});

		['dragleave', 'drop'].forEach(eventName => {
			dropArea.addEventListener(eventName, () => {
				dropArea.classList.remove('highlight');
			}, false);
		});

		// Handle dropped files
		dropArea.addEventListener('drop', handleDrop, false);

		function handleDrop(e) {
			const dt = e.dataTransfer;
			const files = dt.files;
			handleFiles(files);
		}

		function handleFiles(files) {
			const file = files[0]; // Only handle one file in this example
			if (file) {
				document.getElementById('file-name').textContent = file.name; // Display the file name
				document.getElementById('file-upload').files = files; // Assign dropped file to the input element
			}
		}
	
		</script>
		<!-- jquery Min JS -->
        <script src="{{ url_for('static', filename='./js/jquery.min.js')  }}"></script>
		<!-- jquery Migrate JS -->
		<script src="{{ url_for('static', filename='./js/jquery-migrate-3.0.0.js')  }}"></script>
		<!-- jquery Ui JS -->
		<script src="{{ url_for('static', filename='./js/jquery-ui.min.js')  }}"></script>
		<!-- Easing JS -->
        <script src="{{ url_for('static', filename='./js/easing.js')  }}"></script>
		<!-- Color JS -->
		<script src="{{ url_for('static', filename='./js/colors.js')  }}"></script>
		<!-- Popper JS -->
		<script src="{{ url_for('static', filename='./js/popper.min.js')  }}"></script>
		<!-- Bootstrap Datepicker JS -->
		<script src="{{ url_for('static', filename='./js/bootstrap-datepicker.js')  }}"></script>
		<!-- Jquery Nav JS -->
        <script src="{{ url_for('static', filename='./js/jquery.nav.js')  }}"></script>
		<!-- Slicknav JS -->
		<script src="{{ url_for('static', filename='./js/slicknav.min.js')  }}"></script>
		<!-- ScrollUp JS -->
        <script src="{{ url_for('static', filename='./js/jquery.scrollUp.min.js')  }}"></script>
		<!-- Niceselect JS -->
		<script src="{{ url_for('static', filename='./js/niceselect.js')  }}"></script>
		<!-- Tilt Jquery JS -->
		<script src="{{ url_for('static', filename='./js/tilt.jquery.min.js')  }}"></script>
		<!-- Owl Carousel JS -->
        <script src="{{ url_for('static', filename='./js/owl-carousel.js')  }}"></script>
		<!-- counterup JS -->
		<script src="{{ url_for('static', filename='./js/jquery.counterup.min.js')  }}"></script>
		<!-- Steller JS -->
		<script src="{{ url_for('static', filename='./js/steller.js')  }}"></script>
		<!-- Wow JS -->
		<script src="{{ url_for('static', filename='./js/wow.min.js')  }}"></script>
		<!-- Magnific Popup JS -->
		<script src="{{ url_for('static', filename='./js/jquery.magnific-popup.min.js')  }}"></script>
		<!-- Counter Up CDN JS -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="{{ url_for('static', filename='./js/bootstrap.min.js')  }}"></script>
		<!-- Main JS -->
		<script src="{{ url_for('static', filename='./js/main.js')  }}"></script>
    </body>
	
</html>
